.background {
  background-image: linear-gradient(220deg, #000000, #4296af, #a3c6d0, #4296af);
}

.custom-btn {
  color: #ffffff; /* Cor do texto */
  border-color: #000; /* Cor da borda */
}

.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
  color: #000000; /* Cor do texto quando o botão está em foco ou ativo */
  background-color: #ffffff; /* Cor de fundo quando o botão está em foco ou ativo */
  border-color: #000; /* Cor da borda quando o botão está em foco ou ativo */
}

.custom-btn-2 {
  color: #fff; /* Cor do texto */
  background-color: #000; /* Cor de fundo */
  border-color: #000; /* Cor da borda */
}

.custom-btn-2:hover,
.custom-btn-2:focus,
.custom-btn-2:active {
  color: #000; /* Cor do texto quando o botão está em foco ou ativo */
  background-color: #fff; /* Cor de fundo quando o botão está em foco ou ativo */
  border-color: #000; /* Cor da borda quando o botão está em foco ou ativo */
}

.custom-image {
  width: 200px;
  height: auto;
  border-radius: 50%; /* Imagem redonda */
}

/* Media queries */
@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .custom-image {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 30px; /* Ajuste conforme necessário */
    width: 150px; /* Ajuste conforme necessário */
  }

  .h1, .p {
    text-align: center;
    margin: 0;
  }

  /* Responsividade para a seção de projetos */
  .row-cols-1, .row-cols-sm-2, .row-cols-md-3 {
    flex-direction: column;
    align-items: center;
  }

  .col {
    width: 100%;
    margin-bottom: 20px; /* Espaçamento entre os projetos */
  }

  .card {
    width: 100%;
  }
}
